html {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-background-color-hex);

    --nav-height: 3em;
    --user-icon-size: 2em;
    --nav-border-color: var(--primary-color-hex);
    color: var(--ui-text-color);
}

.nav-top {
    /* position: absolute; */
    height: var(--nav-height);
    width: 100%;
    background-color: var(--ui-background-color);
    border-bottom: 2px solid var(--primary-color-hex);
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    height: var(--nav-height);
    width: 100%;
    background-color: var(--ui-background-color);
    border-top: 2px solid var(--primary-color-hex);
}

.nav-user-icon {
    height: var(--user-icon-size);
    width: var(--user-icon-size);
    fill: white;
    border-radius: 50%;
    border: 2px solid var(--nav-border-color);
}

.content {
    height: 100%;
    width: calc(100% - 32px);
    padding: 16px;
}

@media screen and (min-width: 600px) {
    .content {
        
    }
}