html {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-background-color-hex);
    font-size: 1em;

    --nav-height: 3em;
    --icon-wrapper-size: calc(2.8em - 2px);
    --icon-size: 1.8em;
    --nav-border-color: var(--primary-color-hex);
    color: var(--ui-text-color);
}

.nav-top {
    /* position: absolute; */
    height: var(--nav-height);
    width: 100%;
    background-color: var(--ui-background-color);
    border-bottom: 2px solid var(--primary-color-hex);
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    height: var(--nav-height);
    width: 100%;
    background-color: var(--ui-background-color);
    border-top: 2px solid var(--primary-color-hex);
}

.nav-icon-break {
    height: calc(100% - 12px);
    border: 1px solid black;
}

svg {
    height: 100%;
    width: 100%;
}

.nav-icon-link {
    height: var(--icon-wrapper-size);
    width: var(--icon-wrapper-size);
    flex-direction: column;
    margin: 4px;
}

.nav-icon {
    height: var(--icon-size);
    width: var(--icon-size);
    fill: white;
}

.nav-icon-text {
    font-size: var(--text-small);
}

.content {
    height: 100%;
    width: calc(100% - 32px);
    padding: 16px;
}

@media screen and (min-width: 600px) {
    .content {
        
    }
}